/*Fonts adding*/
@font-face {
	font-family: "HelveticaNeue";
	src: url('../font/HelveticaNeue.eot') format('embedded-opentype'),
	url('../font/HelveticaNeue.woff') format('woff'),
	url('../font/HelveticaNeue.ttf') format('truetype'),
	url('../font/HelveticaNeue.svg') format('svg');
}

@font-face {
	font-family: "HelveticaNeue";
	font-style: italic;
	src: url('../font/HelveticaNeueItalic.eot') format('embedded-opentype'),
	url('../font/HelveticaNeueItalic.woff') format('woff'),
	url('../font/HelveticaNeueItalic.ttf') format('truetype'),
	url('../font/HelveticaNeueItalic.svg') format('svg');
}

@font-face {
	font-family: "HelveticaNeueMedium";
	src: url('../font/HelveticaNeueMedium.eot') format('embedded-opentype'),
	url('../font/HelveticaNeueMedium.woff') format('woff'),
	url('../font/HelveticaNeueMedium.ttf') format('truetype'),
	url('../font/HelveticaNeueMedium.svg') format('svg');
}

/*Icon font*/
@font-face {
	font-family: 'fontello';
	src: url('../font/fontello.eot?15781817');
	src: url('../font/fontello.eot?15781817#iefix') format('embedded-opentype'),
		url('../font/fontello.woff?15781817') format('woff'),
		url('../font/fontello.ttf?15781817') format('truetype'),
		url('../font/fontello.svg?15781817#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*Basic styles + reset*/
body, ul {
	margin: 0;
	padding: 0;
}

header, nav, section, article, aside, footer, video, blockquote {
	display: block
}

/*Header*/
.preview {
	background-image: url(../img/header-background.png);
	border-top: 10px #2ecc71 solid;
	color: white;
	height: 600px;
	position: relative;
}

.preview__content {
	margin-top: 168px;
	margin-left: 324px;
	float: left;
	width: 460px;
}

.preview__text {
	font: 24px/36px 'HelveticaNeueMedium', sans-serif;
	padding-left: 4px;
}

.preview__item {
	list-style-type: none;
	display: inline-block;
}

.preview__link {
	display: inline-block;
	color: #f4f4f4;
	opacity: 50%;
	background-color: rgba(3,3,3,0.5);
	height: 52px;
	width: 52px;
	border-radius: 50%;
	text-align: center;
	font: 28px/52px 'fontello';
	margin: 0 6px;
	text-decoration: none;
}

.preview__link:hover {
	background-color: #2ecc71;
}

.preview__apple:before {
	content: '\e800';
}

.preview__android:before {
	content: '\e802';
}

.preview__windows:before {
	content: '\e801';
}

.preview__image {
	position: absolute;
	bottom: -2px;
	right: 243px;
}

/*Features section*/
.features {
	margin: 0 211px;
}

.features__item {
	margin: 60px 105px 35px 0;
	text-align: center;
	display: inline-block;
	width: 27%;
}

.features__item:last-child {
	margin-right: 0px;
}

.features__icon {
	width: 98px;
	height: 98px;
	background-color: #2ecc71;
	border-radius: 50%;
	color: white;
	margin: 0 auto;
}

.features__header {
	font: 600 22px 'HelveticaNeueMedium', sans-serif;
	color: #222222;
	margin-top: 24px;
}

.features__text {
	font: 16px/26px 'HelveticaNeue', sans-serif;
	color: #848484;
}

/*Subscription section*/

.subscription {
	background-color: #e3e3e3;
	height: 427px;
}

.subscription__invitation {
	margin-top: 34px;
	margin-left: 211px;
	display: inline-block;
	width: 533px;
}

.subscription__header {
	font: 600 22px'Raleway', sans-serif;
	text-transform: capitalize;
}

.subscription__text {
	font: 16px/25px 'HelveticaNeue', sans-serif;
}

.subscription__form__input {
	height: 50px;
	float: left;
	margin-right: 0px;
	margin-top: 7px;
	width: 300px;
	font: 18px 'HelveticaNeue', sans-serif;
	border-radius: 5px 0px 0px 5px;
	border: 1px gray solid;
}

.subscription__form__button {
	color: white;
	background-color: #2ecc71;
	border: none;
	height: 54px;
	width: 141px;
	float: left;
	margin-left: 0px;
	margin-top: 7px;
	font: 700 22px 'Raleway', sans-serif;
	border-radius: 0px 5px 5px 0px;
}

.subscription__video {
	float: right;
	margin-top: 60px;
	margin-right: 211px;
	width: 500px;
	height: 305px;
	border: 1px black solid;
	border-radius: 5px;
}

/*Testimonial section*/
.testimonials {
	text-align: center;
	padding-top: 55px; 
}

.testimonials__text {
	font: italic 18px/28px 'HelveticaNeue', sans-serif;
	margin: 0 auto;
	width: 850px;
}

.testimonials__name {
	font: 700 italic 18px 'Raleway', sans-serif;
}

.testimonials__people {
	width: 1146px;
	height: 50px;
	border: 1px black solid;
	margin: 26px auto;
}

/*Social section*/

.social {
	text-align: center;
	margin-bottom: 60px;
	margin-top: 52px;
}

.social__header {
	font: 600 24px 'Raleway', sans-serif;
}

.social__text {
	font: 16px 'HelveticaNeue', sans-serif;
}

.social__item {
	display: inline-block;
}

.social__link {
	display: inline-block;
	background-color: #c5c5c5;
	width: 34px;
	height: 34px;
	color: white;
	border-radius: 50%;
	margin: 10px 3px 0px 3px;
	font: 20px/34px 'fontello';
	text-decoration: none;
}

.social__link:hover{
	background-color: #2ecc71;
}

.social__twitter:before {
	content: '\e804';
}

.social__facebook:before {
	content: '\e805';
}

.social__pinterest:before {
	content: '\e806';
}

.social__google:before {
	content: '\e807';
}

.social__linkedin:before {
	content: '\e808';
}

.social__youtube:before {
	content: '\e809';
}
/*Footer*/
.footer {
	text-align: center;
	background-color: #e3e3e3;
	height: 138px;
	font: 16px/138px 'HelveticaNeue', sans-serif;
}

.footer__item {
	display: inline-block;
}

.footer a {
	text-decoration: none;
	color: #848484;
	padding-left: 18px;
	padding-right: 18px;
}